@maxWidth:800px;
@media: desktop;
@spanWidth: 40px;
@spanGutterWidth: 10px;

@media screen and (max-device-width:768px){
  @maxWidth:600px;
  @media: mobile;
}
@media screen and (max-device-width:480px){
  @maxWidth:400px;
  @media: mobile;
}
@media screen and (max-device-width:240px){
  @maxWidth:200px;
  @media: mobile;
}

body{
  width:@maxWidth;
  padding:10px;
}

.table{
  width:@maxWidth;
  th{
    background-color:#ccc;
  }

  &.border{
    td{
      border:solid 1px #ccc;
    }
  }
}
.row,tr{
  .span1{
    width: @spanWidth;
    padding: 0 @spanGutterWidth 0 @spanGutterWidth;
  }
  .span2{
    width: @spanWidth * 2;
    padding: 0 @spanGutterWidth 0 @spanGutterWidth;
  }
  .span3{
    width: @spanWidth * 3;
    padding: 0 @spanGutterWidth 0 @spanGutterWidth;
  }
  .span4{
    width: @spanWidth * 4;
    padding: 0 @spanGutterWidth 0 @spanGutterWidth;
  }
  .span5{
    width: @spanWidth * 5;
    padding: 0 @spanGutterWidth 0 @spanGutterWidth;
  }
}

.push-down-next{
  margin-bottom:20px;
}

#mapdiv{
  width: @maxWidth;
  height: @maxWidth / 2;
}
.link-addpoint{
  padding:5px;
}

#position-history{
  .link-delete{
    color:#f00;
    padding:0 10px 0 0;
    &:hover,
    &:visited{
      color:#f00;
    }
  }
}

#footer,
footer{
  margin:30px 0 0 0;
  padding:10px;
  height:75px;
  background-color:#eee;
}
